<div class="media">
  <% unless dog.avatar.file.nil? %>
    <div class="media-left">
      <%= image_tag dog.avatar.url, class: "media-object", size: 100 %>
    </div>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to dog.name, edit_dog_path(id: dog.id) %>
      <h5 class="text-muted">Owner: <%= dog.owner %>
        | <% if dog.gender == 'Neutered' || dog.gender == 'Spayed' %>
          <%= dog.gender %>
        <% else %>
          <span class="red-text"><%= dog.gender %> </span>
        <% end %>
        <%= dog.breed %></h5>
    </h4>
    <% if dog.temperament != '' %>
      <p>Personality: <%= dog.temperament %></p>
    <% end %>
    <% if dog.friends != '' %>
      <p>Gets Along With: <%= dog.friends %></p>
    <% end %>
    <% if dog.housing != '' %>
      <p>Housing Notes: <%= dog.housing %></p>
    <% end %>
  </div>
  <div class="media-right">
    <% if dog.active == true && dog.boarding == false %>
      <p><em>Daycare!</em> <br/> <%= link_to 'Remove Daycare', active_path(id: dog.id), class: 'btn btn-warning' %></p>
    <% else %>
      <p><strong>Boarding!</strong> <br/><%= link_to 'Remove Boarder', boarding_path(id: dog.id), class: 'btn btn-warning' %></p>
    <% end %>
  </div>
</div>
