<div class="panel panel-default col-md-3">
  <div class="panel-heading">
    <% unless dog.avatar.file.nil? %>
     <div class="text-center">
      <%= image_tag dog.avatar.url, size: 200 %>
     </div>
    <% end %>
  </div>
  <div class="panel-body">
    <h4>
      <%= link_to dog.name, edit_dog_path(id: dog.id) %>
      <h5 class="text-muted">Owner: <%= dog.owner %> | <%= dog.gender %> <%= dog.breed %></h5>
    </h4>
    <div>
      <% if dog.boarding? %>
        <p><strong>Boarding!</strong></p>
      <% elsif dog.active? %>
        <p><em>Daycare!</em></p>
        <%= link_to 'Switch to boarding?', boarding_path(id: dog.id), class: 'btn btn-warning' %>
      <% else %>
        <div class="btn-group-vertical">
          <%= link_to 'Add to Daycare', active_path(id: dog.id), class: 'btn btn-info' %>
          <%= link_to 'Add to Boarding', boarding_path(id: dog.id), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
