<div class="page-header"><h2>All of Our Dogs</h2></div>

<% if user_signed_in? && (can? :manage, @dogs) %>
  <%= form_tag(dogs_path, :method => "get", id: "search-form", class: 'form-group') do %>
    <div class="row">
      <div class="col-md-10"><%= text_field_tag :search, params[:search], placeholder: "Search Dogs", class: 'form-control' %></div>
      <div class="col-md-1"><%= submit_tag "Search", class: 'btn btn-default' %></div>
    </div>
  <% end %>
  <% @dogs.each do |dog| %>
    <%= render 'all_dogs', dog: dog %>
  <% end %>
<% else %>
  <% @dogs.each do |dog| %>
    <%= render 'dogs/basic_dog', dog: dog %>
  <% end %>
<% end %>

